.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--navbar-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
}

.formGroup {
  margin-bottom: 1rem;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}
.title {
  color: var(--text-color);
  margin-bottom: 1rem; 
}

.select {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  height: 82vh;
  width: 100%;
  color: var(--text-color);
  padding-top: 2rem; /* Add some padding at the top */
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  margin-top: 3rem; 
  width: 100%;
}

.button:hover {
  background-color: var(--secondary-color);
}